html {
  --font-color: white;
  background: rgb(11,11,11);
background: linear-gradient(90deg, rgba(11,11,11,1) 0%, rgba(32,36,36,1) 100%);
}

body {
  color: var(--font-color);
  font-family: sans-serif;
}


h1 {
  text-align: center;
  font-weight: 200;
  font-size: 45px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: auto;
/*   box-shadow: 0 1.5px 5px 5px rgba(100, 200, 200, 0.2); */
}

figcaption {
  margin-top: 18px;
  text-align: center;
  opacity: .5;
  font-size: 12px;
}


p {
  width: 310px;
  line-height: 1.2em;
  text-align: justify;
  margin: auto;
  margin-bottom: 20px;
  font-size: 18px;
}

a {
  display: block;
  margin: auto;
  margin-bottom: 12px;
  padding-left: 2em;
  padding-right: .5em;
  padding-top: .2em;
  padding-bottom: .2em;
/*   background-color: #222; */
  text-decoration: none;
  color: white;
  opacity: .5;
/*   border: solid 2px rgba(255, 255, 255, .1); */
  border-radius: 5px;
  width: 150px;
/*   box-shadow: 0 1.5px 5px 3px rgba(100, 200, 200, 0.2); */
}
